<div class="alert alert-primary">
    All fields are required
</div>
<div class="form-group">
    <label for="name">Name</label>
    <input value="{{supplier.name}}" type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp" placeholder="Enter name">
    <small id="nameHelp" class="form-text text-muted">Name of this part</small>
</div>
<div class="form-group">
    <label for="description">Description</label>
    <input value="{{supplier.description}}" type="text" class="form-control" id="description" name="description" aria-describedby="descriptionHelp" placeholder="enter description">
    <small id="descriptionHelp" class="form-text text-muted">Description for this part</small>
</div>
<div class="form-group">
    <label for="price">Price</label>
    <input value="{{supplier.price}}" type="text" class="form-control" id="price" name="price" aria-describedby="priceHelp" placeholder="enter price">
    <small id="priceHelp" class="form-text text-muted">Price for this part</small>
</div>